.unique-navbar {
  /*  background: linear-gradient(45deg, #6a11cb 0%, #2575fc 100%);
  */
  background-color: #000 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.unique-navbar .navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    color: #fff !important;
    transition: color 0.3s ease;
}

.unique-navbar .navbar-brand:hover {
    color: #d1ecf1 !important;
}

.unique-navbar .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #fff !important;
    transition: color 0.3s ease;
}

.unique-navbar .nav-link:hover {
    color: #d1ecf1 !important;
}

.unique-navbar .navbar-toggler-icon {
 /*   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%287, 7, 7, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
*/
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
   

@media (max-width: 992px) {
    .unique-navbar .nav-link {
        color: #ffffff !important;
    }
}
